body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --main-color: #0057d9;
  --second-color: orange;
}


nav{
  background-color: var(--main-color);
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

nav > ul{
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-around;
}

nav > ul > li{
  list-style-type: none;
}
nav > ul > li > a{
  text-decoration: none;
  color: white ;
  font-weight: 600;
}
nav > ul > li :hover{
  color: var(--second-color); 
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  height: calc(100vh - 67px);
}

.main-article{
  background-color: white;
  padding: 0 16px;
  margin: 8px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
}

.main-title{
  font-size: 3em;
  color: var(--main-color);
}
h1{
  color: var(--main-color);
  font-size: 2em;
}
.btn__onedrive{
  padding: 16px 32px;
  background-color: var(--second-color);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color ease-in 300ms;
}

.btn__onedrive:hover{
  background-color: var(--main-color);
}

button{
  padding: 8px 16px;
  background-color: var(--second-color);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color ease-in 300ms;
  border: none;
}

button:hover{
  background-color: var(--main-color);

}

form{
  display: grid;
  max-width: 200px;
}

input{
  padding: 8px;
  border: solid 1px var(--main-color);
  border-radius: 3px;
}
input:last-child{
  margin-bottom: 10px;
}
input:focus{
  border: solid 1px var(--second-color);
  outline: none
}